<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>335033020929-211q2hpeuel4dqccgchtclke6iho2lte.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.335033020929-211q2hpeuel4dqccgchtclke6iho2lte</string>
	<key>API_KEY</key>
	<string>AIzaSyBLRl3VqnphKv_Pl1EXpSTrKV4AnrDeA5o</string>
	<key>GCM_SENDER_ID</key>
	<string>335033020929</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.verygoodcore.draggable</string>
	<key>PROJECT_ID</key>
	<string>bloc-firebase-auth-all</string>
	<key>STORAGE_BUCKET</key>
	<string>bloc-firebase-auth-all.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:335033020929:ios:ed6f3212b0beba69454600</string>
</dict>
</plist>